.favorites {
    box-sizing: border-box;
    /* border: 1px solid rgba(0, 8, 7); */
    padding: 30px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    margin-right: 30px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
    margin-bottom: 24px;
}

.favorites__list {
    margin-bottom: 24px;
    
}
.favorites__ {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    align-items: center;
}
.favorites__save {
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
    text-decoration: none;
}
.favorites__link__btn{
    border: none;
    background: none;
    
}

.favorites__save:hover:not(:disabled) {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s linear;
}
.favorites__save:disabled {
    cursor: not-allowed;
    background-color: #d3d3d3;
}
.favorites__removeBtn{
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 6px 3px 6px ;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.favorites__removeBtn:hover{
    background-color: #496DDB;
    transition: all 0.2s linear;
    color: white;
}
@media only screen and (max-width:720px) {
    .favorites {
        text-align: center;
    }
}