.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}
@media only screen and (max-width: 720px){
    .main-page__content{
        padding: 6vw calc(50%-40vw);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .main-page__main-section{
        box-sizing: border-box;
        width: 100%;
        padding-left: 0;
    }
    .main-page__search-box{
        margin-bottom: 4vw;
    }
    .main-page__favorites{
        width: 35%;
        display: flex;
        justify-content: center;
    }
}