.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}
@media only screen and (max-width: 720px){
    .main-page__content {
        padding: 20px calc(50% - 500px);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .main-page__main-section {
        padding-left: 0;
        box-sizing: border-box;
        width: 60%;
    }
    
    .main-page__search-box {
        margin-top: 30px;
    }

    .main-page__favorites {
        margin-left: 0;
        width: 60%;   
    }
}