.list-page {
    padding: 42px calc(50% - 300px);
    font-family: 'Montserrat', sans-serif;
    /* width: 100%; */
}

.list-page__title {
    font-size: 34px;
    margin-bottom: 26px;
    background-color: #496DDB;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    width: 110%;
}

.list-page ul li {
    font-size: 18px;
}

.box{
    display: flex;
    font-size: 18px;
    background-color: #FFEEDB;
    margin-bottom: 20px;
    width: 110%;
}
.box img{
    height: 100%;
    margin-right: 20px;
    width: 220px;
    padding: 20px;
    padding-right: 0px;
}
.info{
    padding:0 0 0 40px;
}
.info h1{
    font-weight:400;
    text-align:left;
    font-size:40px;
    margin:30px 0 0 0;
    letter-spacing:1px;
}
.info ul{
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}
.info ul li{
    font-size: 14px;
    font-weight: 400;
}
.info p {
    margin: 20px 0 20px 0;
    padding: 0 20px 0 0;
    letter-spacing: 1px;
    font-size: 14px;
}
.imdb{
    display: flex;
    gap: 5px;
    background-color: #f3ce13;
    width: 90px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.director{
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box button{
    border: none;
    background-color: #496DDB;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 30px;
}
.box button:hover{
    opacity: 0.7;
    transition: .7;
}
.box button a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

@media only screen and (max-width: 720px){
    .list-page{
        width: 720px;
        padding-left: 0;
    }
    .list-page__title{
        width: 100%;
    }
    .box{
        width: 100%;
    }
    .box img{
        height: 50vw;
        margin-right: 20px;
        width: 70vw;
        padding: 20px;
        padding-right: 0px;
    }
    .info {
        padding-left: 20px;
    }
    .info h1{
        font-size: 4.938vw;
        width: 75%;
    }
    .info ul li {
        font-size: 1.938vw;
    }
    .info p {
        font-size: 1.938vw;
        width: 70%;
    }
    .imdb{
        font-size: 1.938vw;
        width: 60px;
    }
    .director{
        font-size: 1.938vw;
    }
    .box button{
        font-size: 12px;
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}